/* Genel stil */
body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    color: white;
    overflow: hidden;
}

/* Menü */
.menu {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px; /* Sağ üste konumlandırma */
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Anasayfa içeriği */
.intro {
    text-align: center;
    padding: 20px;
}

/* Logo stil */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px; /* İstediğiniz genişlik değerini ayarlayın */
    height: auto;
}

/* Yıldızlar için stil */
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/wVgAAD+A/Bb7hAAAAASUVORK5CYII='); /* Beyaz yıldızlar arka planı */
    z-index: -1; /* Yıldızların arka planın üzerinde olmasını sağlar */
    animation: twinkling 5s infinite; /* Yıldız animasyonunu ekler */
}
/* Gezegenler için stil */
.planet-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planet {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: rotate 60s linear infinite, colorChange 5s alternate infinite; /* Gezegen animasyonunu ve renk değişimini ekler */
}

/* Gezegen animasyonu */
@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* Gezegenlerin renk değişimi */
@keyframes colorChange {
    0% {
        background-color: #FF4500; /* Turuncu renkli gezegen */
    }
    50% {
        background-color: #8A2BE2; /* Mor renkli gezegen */
    }
    100% {
        background-color: #FF4500; /* Turuncu renkli gezegen */
    }
}

/* Yıldız animasyonu */
@keyframes twinkling {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

/* Alt menü stil */
.footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* Buttonlar */
.button {
    background-color: #e38e29;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 5px;
}

/* Dikdörtgen stil */
.rectangle {
    width: 50%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #e38e29;
    padding: 20px;
    text-align: center;
}
